# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment for nodejs
.env

# TypeScript Generate Output
dist

# Miscellaneous
.tmp/
.vscode/*
!.vscode/settings.json

# Cache
.cache/
.eslintcache
.prettiercache
.tsbuildinfo
